@import "tailwindcss";

@theme {
  --color-accent: var(--color-emerald-600);
  --color-accent-hover: var(--color-emerald-700);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-700 antialiased;
}
